# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de Android Studio
.idea/
*.iml

# Archivos de compilación
/build/
/app/build/

# Archivos locales
local.properties

# Archivos de caché
*.log